<ul id="" class="main-nav__list" nav-level="1">
    <% firstLevelNavData.mainNav.forEach(function(item) {
        const firstLevelAnchorName = `--anchorName-${item.id}`
    %>
        <li
            id="<%= item.id %>"
            class="main-nav__item"
            style="anchor-name: <%= firstLevelAnchorName %>;"
        >
            <a href="<%= item.link %>" class="main-nav__link"><%= item.title %></a>
            <%if (item.subnav) { %>
                <button class="main-nav__subnav-toggle" popovertarget="sub-nav-<%- item.subnav.id %>">
                    <toujou-icon class="icon" icon-size="normal" icon-name="chevron-down" icon-color="font"></toujou-icon>
                </button>

                <%- include('./src/partials/topbar-main-nav-second-level.ejs', { secondLevelNavData: item.subnav, firstLevelAnchorName: firstLevelAnchorName }) %>

            <% } %>
        </li>
    <% }); %>
</ul>

